@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;   
}

:root {
    --ff-primary: 'Lexend Deca', sans-serif;
    --ff-secondary: 'Big Shoulders Display', cursive;
   
    --clr-sedan: hsl(31, 77%, 52%);
    --clr-suv: hsl(184, 100%, 22%);
    --clr-luxury:  hsl(179, 100%, 13%);
   
    --clr-text: hsla(0, 0%, 100%, 0.75);
    --clr-button:  hsl(0, 0%, 95%);
   
    font-size: 15px;
    --fs-heading: 40px;
   
    --fw-reg: 400;
    --fw-bold: 700;
}
.body {
    background-color: var(--clr-button);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.card {
    border-radius: 15px;
    display: flex;
    max-width: 1000px;
    margin:auto;
    justify-content: center;
    align-items: center;

    /* magic centered */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.car {
    color: var(--clr-text);
    height: auto;
    padding: 3rem;
    text-align: left;
    width: 33.33%;
}

.car h1 {
    color: var(--clr-button);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
}

.car p {
    color: var(--clr-text);
    font-family: var(--ff-primary);
    font-size: 1rem;
    font-weight: var(--fw-reg);
    
}

.btn {
    
}

.sedan {
    background-color: var(--clr-sedan);
}
.suv {
    background-color: var(--clr-suv);
}
.luxury {
    background-color: var(--clr-luxury);
}
